@import "footer";
@import "header";
@import "preguntasfrec";
@import "index";

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
    background-color: #FECEDE;
    .title{
        margin-bottom: 50;
    }
}
